<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" type="text/css" href="http://csshake.surge.sh/csshake.min.css">

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
        <div class="shake">
      <p>Active thread Name Here</p>
      <p>Active user Name Here</p>
      <p>Active User's subscribed threads here</p>
      </div>
    </div>

    <div class="col-9">
        <app-display-thread-posts-component></app-display-thread-posts-component>
        <app-new-post-component></app-new-post-component>
    </div>
</div>
